body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 400px;
    height: 500px; 
    border: 1px solid #D50000;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #D50000;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #D50000;
    max-height: 350px;
}

.message-container {
    display: flex;
    margin: 5px 0;
}

.message {
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 50%; 
    font-size: 14px;
    line-height: 1.4;
}

.bot-message {
    background-color: #F0F0F0;
    align-self: flex-start;
    text-align: left;
    border-radius: 10px 10px 10px 0; 
}

.bot-container {
    justify-content: flex-start;
}

.user-message {
    background-color: #D1E8FF;
    text-align: right;
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
}

.user-container {
    justify-content: flex-end;
}

input[type="text"] {
    border: 1px solid #D50000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
}

button {
    background-color: #D50000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #A00000;
}
